### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [125]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [126]:
player_count = len(purchase_data["SN"].unique())
print("Player Count = " + str(player_count))

Player Count = 576

In [127]:
player_count = pd.Series({"Player Count": [len(purchase_data["SN"].unique())]})

player_count

Player Count    [576]
dtype: object

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [128]:
NumItems = len(purchase_data["Item ID"].unique())
AvPrc = round(purchase_data["Price"].mean(),2)
TotPurch = len(purchase_data["Purchase ID"])
TotRev = purchase_data["Price"].sum()

print(NumItems , " " , AvPrc , " " , TotPurch , " " , TotRev)

179   3.05   780   2379.77

In [129]:
summary_df = pd.DataFrame({
    "Number of Unique Items": [NumItems], 
    "Average Price": [AvPrc], 
    "Number of Purchases": [TotPurch], 
    "Total Revenue": [TotRev]})
summary_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179           3.05                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [130]:
gender_count = purchase_data["Gender"].value_counts()
gender_count

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [131]:
gender_percent = round(purchase_data["Gender"].value_counts(normalize=True) *100,1)
gender_percent

Male                     83.6
Female                   14.5
Other / Non-Disclosed     1.9
Name: Gender, dtype: float64


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [132]:
pa_gender = purchase_data.groupby(["Gender"], as_index=False)["Purchase ID","SN","Age","Item ID","Item Name","Price"].agg(lambda x: list(x))
pa_gender.head()

C:\Users\dlefo\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

,Gender,Purchase ID,SN,Age,Item ID,Item Name,Price
0,Female,"[15, 18, 38, 41, 55, 66, 71, 72, 76, 81, 84, 8...","[Lisassa64, Reunasu60, Reulae52, Assosia88, Ph...","[21, 22, 10, 20, 25, 21, 20, 25, 13, 8, 21, 32...","[98, 82, 116, 7, 84, 6, 29, 178, 88, 174, 34, ...","[Deadline, Voice Of Subtlety, Nirvana, Renewed...","[2.89, 4.9, 4.18, 1.33, 3.79, 3.7, 1.98, 4.23,..."
1,Male,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 10, 11, 12, 13, 14...","[Lisim78, Lisovynya38, Ithergue48, Chamassasya...","[20, 40, 24, 24, 23, 22, 36, 20, 22, 23, 23, 2...","[108, 143, 92, 100, 131, 81, 169, 162, 21, 95,...","[Extraction, Quickblade Of Trembling Hands, Fr...","[3.53, 1.56, 4.88, 3.27, 1.44, 3.61, 2.18, 2.6..."
2,Other / Non-Disclosed,"[9, 22, 82, 111, 228, 237, 242, 291, 350, 401,...","[Chanosian48, Siarithria38, Haerithp41, Sundim...","[35, 38, 16, 21, 20, 20, 16, 20, 15, 15, 35, 2...","[136, 24, 160, 41, 80, 16, 39, 35, 34, 46, 39,...","[Ghastly Adamantite Protector, Warped Fetish, ...","[3.58, 3.81, 4.4, 4.75, 3.39, 3.55, 3.94, 3.45..."

In [133]:
purch_count_gender = purchase_data.groupby("Gender")["Purchase ID"].count()
purch_count_gender

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64

In [134]:
purch_price_gender = round(purchase_data.groupby("Gender")["Price"].mean(),2)
purch_price_gender

Gender
Female                   3.20
Male                     3.02
Other / Non-Disclosed    3.35
Name: Price, dtype: float64

In [135]:
tot_rev_gender = purchase_data.groupby("Gender")["Price"].sum()
tot_rev_gender

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [136]:
bins = [0, 12.9, 19.9, 29.9, 39.9, 100]
age_groups = ["Child", "Teenager", "Young Adult", "Adult", "Old"]

purchase_data["Age Group"] = pd.cut(purchase_data["Age"], bins, labels=age_groups, include_lowest=True)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,Young Adult
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,Old
2,2,Ithergue48,24,Male,92,Final Critic,4.88,Young Adult
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,Young Adult
4,4,Iskosia90,23,Male,131,Fury,1.44,Young Adult

In [137]:
purchase_data["Price2"] = purchase_data["Price"]
grouped_by_age = round(purchase_data.groupby(["Age Group"],as_index=False).agg({"Age": "count", "Price": "mean", "Price2": "sum"}).rename(columns={"Age": "Count", "Price": "Avg Price", "Price2": "Total Revenue"}),2)
grouped_by_age

     Age Group  Count  Avg Price  Total Revenue
0        Child     45       3.19         143.55
1     Teenager    142       3.02         429.25
2  Young Adult    466       3.02        1407.06
3        Adult    114       3.17         361.67
4          Old     13       2.94          38.24

In [138]:
grouped_by_age["Percent of Revenue"] = round(grouped_by_age["Total Revenue"] / grouped_by_age["Total Revenue"].sum() *100, 2)
grouped_by_age

     Age Group  Count  Avg Price  Total Revenue  Percent of Revenue
0        Child     45       3.19         143.55                6.03
1     Teenager    142       3.02         429.25               18.04
2  Young Adult    466       3.02        1407.06               59.13
3        Adult    114       3.17         361.67               15.20
4          Old     13       2.94          38.24                1.61

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [292]:
grouped_by_age["Percent of Revenue"] = round(grouped_by_age["Total Revenue"] / grouped_by_age["Total Revenue"].sum() *100, 2)
grouped_by_age

     Age Group  Count  Avg Price  Total Revenue  Percent of Revenue
0        Child     45       3.19         143.55                6.03
1     Teenager    142       3.02         429.25               18.04
2  Young Adult    466       3.02        1407.06               59.13
3        Adult    114       3.17         361.67               15.20
4          Old     13       2.94          38.24                1.61

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [288]:
top = round(purchase_data.groupby(["SN"],as_index=True).agg({"SN": "count", "Price": "mean", "Price2": "sum"}).rename(columns={"SN": "Purchase Count", "Price": "Avg Price", "Price2": "Total Revenue"}),2)

top.sort_values("Purchase Count", ascending=False).head()

             Purchase Count  Avg Price  Total Revenue
SN
Lisosia93                 5       3.79          18.96
Iral74                    4       3.40          13.62
Idastidru52               4       3.86          15.45
Asur53                    3       2.48           7.44
Inguron55                 3       3.70          11.11

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [290]:
most = round(purchase_data.groupby(["Item ID","Item Name"],as_index=True).agg({"SN": "count", "Price": "mean", "Price2": "sum"}).rename(columns={"SN": "Purchase Count", "Price": "Avg Price", "Price2": "Total Revenue"}),2)

most.sort_values("Purchase Count", ascending=False).head()

,,Purchase Count,Avg Price,Total Revenue
Item ID,Item Name,,,
92,Final Critic,13,4.61,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
145,Fiery Glass Crusader,9,4.58,41.22
132,Persuasion,9,3.22,28.99
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [291]:
most.sort_values("Total Revenue", ascending=False).head()

,,Purchase Count,Avg Price,Total Revenue
Item ID,Item Name,,,
92,Final Critic,13,4.61,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
82,Nirvana,9,4.90,44.10
145,Fiery Glass Crusader,9,4.58,41.22
103,Singed Scalpel,8,4.35,34.80

Three Observable Trends
1. Young Adults dominate the purchases. This could be due to starting to earn higher income at this age. 
2. Males purchase more and most likely play more of the game compared to Females.
3. The types of items purchased were spread out. Not one item dominated.